body {
    font-family: monospace;
    height: 100vh;
    background: url('1.jpg') no-repeat center center/cover;
    color: #cccccc;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

h1,
h2 {
    font-weight: 200;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    color: #aaaaaa;
}

.txt-type .txt {
    border-right: 2px solid #aaaaaa;
    margin-left: 10px;
}